*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  background-color: #333;
  color: white;
  font-family: sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* --------------------------------------------- */
::selection {
  color: #fff;
  background: #333;
}
body {
  margin: 50px auto;
  max-width: 800px;
  padding: 10px;
}
.wrapper {
  /* background-color: #1db954; */
  /* background-color: #E1306C; */
  background-color: #833ab4;
  padding: 20px;
  border-radius: 10px;
}
.heading {
  color: white;
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
}
/* --------------------MAIN CODE CSS HERE---------------- */
.form {
  display: flex;
  gap: 5px;
}
.form .todo-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.form .add-btn {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
}
.form .add-btn:hover {
  background-color: #333;
  color: white;
  transition: 0.2s ease;
}
.todo-list {
  margin-top: 30px;
  border-top: 6px solid #333;
}
.todo-list .todo-item {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  font-size: 20px;
}
.todo-list .todo-item .todo-status .check-task {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  margin-right: 5px;
}
/* add class from javascript */
.todo-list .todo-item .todo-status .todo-text.checked {
  text-decoration: line-through 3px solid #333;
}
.todo-list .todo-item .todo-status .todo-text {
  word-break: break-all;
  margin-right: 10px;
  /* user-select: none; */
}
.todo-list .todo-item .icon {
  display: flex;
  gap: 15px;
}
.todo-list .todo-item .icon i {
  flex-shrink: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.todo-list .todo-item .icon .edit {
  background-color: #fff;
  color: #14171a;
}
.todo-list .todo-item .icon .delete {
  background-color: #fff;
  color: red;
}
.todo-item .icon .edit:hover,
.todo-item .icon .delete:hover {
  background-color: #333;
  color: white;
}
/* ----------------------------Scroll bar section---------------------------- */
.todo-list.overflow {
  overflow-y: auto;
  max-height: 400px;
}
.todo-list::-webkit-scrollbar {
  width: 4px;
}
.todo-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.todo-list::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 25px;
}
/* ----------------------------------------------------- */
/* Responsive */
@media (max-width: 415px) {
  .todo-input,
  .add-btn,
  .todo-text {
    font-size: 14px;
  }
  .todo-input {
    padding: 5px 20px;
  }
  .add-btn {
    padding: 8px;
    font-size: 14px;
  }
  .heading {
    font-size: 30px;
  }
  .todo-item {
    margin-top: 0;
  }
  .todo-item .icon {
    flex-direction: column;
  }
  .todo-item .icon i {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
